*{
    margin: 0;
    padding: 0;box-sizing: border-box;
    font-family: sans-serif;
}
.main{
    margin: 20px 5% !important;
}
.textsame{
    margin-bottom: 40px;
}
hr{
    margin-bottom: 20px;
}
.circle{
    border-radius: 50px;
    background-color: aqua;
    width: 50px;text-align: center;
    height: 50px;
    padding-top: 13px;
    margin-left: 50%;
    margin-top: 20px

}
.answerSection{
    display: grid;
    grid-template-columns: 50px 50px;
    /* grid-template-rows: 20px; */
    /* margin: 50px; */
}
.ans{
    margin: 20px ;
    
}